# sequenze di fotogrammi rigenerabili (pesanti)
09_preview/test_pipeline_frames/
09_preview/test_pipeline_frames_still/
09_preview/master_frames/
09_preview/*.log
# test GIF fuori limite (tenuti solo come misura nel documento)
09_preview/test_pipeline_out/TEST_gif_25fps_256c.gif
09_preview/test_pipeline_out/TEST_gif_12fps_256c.gif
node_modules/
09_preview/master_frames_2x/
09_preview/gif_frames_2x/
09_preview/master_frames/
09_preview/gif_frames/
09_preview/test_v2/
09_preview/test_final_env/
09_preview/M_master_frames_2x/
09_preview/M_gif_frames_2x/
09_preview/M_master_frames/
09_preview/M_gif_frames/
09_preview/vertical/*_2x/
09_preview/vertical/*_frames/
09_preview/vertical/*_gif_2x/
09_preview/vertical/*_gif_frames/
